{% extends 'base.html' %}

{% block content %}
<style>
    li {
        font-family: b zar;
    }
    .errorlist{
        color: rgb(133, 5, 5);
    }
</style>
<form action="" method="post" >
    <div class="con_" style="margin: 40px; padding: 34px; width: fit-content;margin-left: auto;margin-right: auto;">
        {% csrf_token %}
        {{ form.as_p }}
    <input class="btn btn-info" type="submit" value = 'ورود' style="width: 110px;"> 
    <!-- <a href="{% url 'account:passwordreset' %}" style="font-size: 10px; padding: 20px 50px;"> فراموشی کلمه عبور </a> -->
</div>
</form>


{% endblock %}