<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebSocket Example</title>
</head>
<body>
    <h3>در جست و جوی ناوگان</h3>
    <div id="response"></div>

    <script>
        const socket = new WebSocket('ws://srs.zamzamgroup.com:44444/ws/status/');

        socket.onopen = function() {
            console.log('WebSocket connection established.');
        };

        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
            document.getElementById('response').innerHTML = '<p>' + data.message + '</p>';
        };

        socket.onerror = function(error) {
            console.error('WebSocket error:', error);
        };
    </script>
</body>
</html>
